<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="field-time"></span>
      ผู้ป่วยรอ Ward
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header style="background-color: white;" class="site-page-header" nzTitle="ผู้ป่วยรอ Ward">
  </nz-page-header>
  <div class="inner-content">

    <nz-table #dataTable nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet">
      <thead>
        <tr>
          <th>HN</th>
          <th>AN</th>
          <th>ชื่อ - สกุล</th>
          <th>Pre Diag</th>
          <th>Admit Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataTable.data">
          <td>{{data.hn}}</td>
          <td>{{data.an}}</td>
          <td>{{data.first_name}} {{data.last_name}}</td>
          <td>{{data.pre_diag}}</td>
          <td>{{data.admit_date}} {{data.admit_time}}</td>
          <td style="text-align: center;">
            <button nz-button nz-dropdown [nzDropdownMenu]="menu">
              <span nz-icon nzType="menu"></span>
              จัดการ
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>แก้ไขข้อมูล</li>
                <li nz-menu-item>บันทึกกิจกรรม (Nurse note)</li>
                <li nz-menu-item nzDanger>ลบรายการ</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <br>
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
      [nzPageSizeOptions]="[20,50,100,500]" (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

    <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>

  </div>
</nz-content>